:root {
    --principal: #078071;
    --verdao: #04574d;
    --cinzinha: #ebf0f1;
    --destaque: #ED8E96;
    --rosinha: #f0b6bc;
    --rosão: #C05367;
    --branquinho: #ffffff;
    --verdinho: #7EC4BB;
    --cinzaclaro: #272626;
    --cinza: #1B1B1B;
     
    width: 100%;
    height: 100%;

    font-family: Poppins-regular, Roboto;
}

    @font-face {
        font-family: 'Cooper';
        src: url('../fontes/cooperhewitt-heavy.otf');
    }
    
    @font-face {
        font-family: 'Poppins';
        src: url('../fontes/Poppins-ExtraBold.ttf');
    }
    
    @font-face {
        font-family: 'Poppins-regular';
        src: url('../fontes/Poppins-Regular.ttf');
    }
    
    @font-face {
        font-family: 'Poppins-semibold';
        src: url('../fontes/Poppins-SemiBold.ttf');
    }
    
    @font-face {
        font-family: 'Poppins-medium';
        src: url('../fontes/Poppins-Medium.ttf');
    }

body {
    background-color: #ebf0f1;;

}
    
    .container {
        text-align: center; /* Centraliza horizontalmente o conteúdo dentro do contêiner */
    }


.primeirotextoreg {
    color: #04574d;
    font-family: Poppins;
    margin-bottom: 30px;
    font-family: Poppins;
    margin-top: 15px;
    font-size: 60px; }


.timer-text {
    color: #C05367;
    font-family: Poppins-medium;
    font-size: 33px;
    text-decoration: underline dotted;
    position: relative;
    top: 5px;
    left: -60px;
    z-index: 3;
}

#play {
    color: #C05367;
    font-size: 30px;
    position: relative;
    left: -15px;
    z-index: 1;
}

#pause {
    color: #C05367;
    background-color: #ebf0f1;
    font-size: 30px;
    position: relative;
    right: -6.5rem;
    z-index: 2;
}

#play:hover {
    color: #ED8E96;
    background-color: #ebf0f1;
}

#pause:hover {
    color: #ED8E96;
    background-color: #ebf0f1;
}

.btn.timer {
    box-shadow: none;
    align-items: center;
}

#encerrar {
    position: relative;
    text-decoration: underline;
    font-family: Poppins-medium;
    margin-top: 13px;
    top: 7px;
    font-size: 18px;
    cursor: pointer;
}

#editaradm {
    color: #ffffff;
    background-color: #f0b6bc;
    border-color: #ffffff;
    margin-top: 7px;
    margin-bottom: 7px;
}

#editaradm:hover {
    color: #ffffff;
    background-color: #ED8E96;
    border-color: #ffffff;
}

#equipeadm {
    position: relative;
    color: #04574d;
    font-family: Poppins;
    font-size: 25px; }


#equipeadm {
    position: relative;
    color: #04574d;
    font-family: Poppins;
    font-size: 25px; } 

#nomeadm {
    color: #C05367;
    text-decoration: underline dotted;
    font-family: Poppins-Medium;
    font-size: 20px;
}

#nomeequipeadm {
    position: relative;
    color: #078071;
    font-family: Poppins-semibold;
    font-size: 17px;
    top: 20px;
}

#coradm {
    border-radius: 7px;
    width: 100px;
}

@media (min-width: 768px) and (max-width: 988px) {

    #zonaadm {
        position: relative;
        color: #04574d;
        font-family: Poppins;
        font-size: 25px;   
        left: 14px;
    }
    
    #quantidadeadm {
        position: relative;
        color: #C05367;
        text-decoration: underline dotted;
        font-family: Poppins-Medium;
        font-size: 20px;
        left: 14px;
    } 
    
    #plantaadm {
        position: relative;
        color: #078071;
        font-family: Poppins-semibold;
        font-size: 17px;
        top: 20px;
        left: 14px;
    }
}

@media (min-width: 989px) {

    #zonaadm {
        position: relative;
        color: #04574d;
        font-family: Poppins;
        font-size: 25px;   
        left: 22px;
    }
    
    #quantidadeadm {
        position: relative;
        color: #C05367;
        text-decoration: underline dotted;
        font-family: Poppins-Medium;
        font-size: 20px;
        left: 22px;
    } 
    
    #plantaadm {
        position: relative;
        color: #078071;
        font-family: Poppins-semibold;
        font-size: 17px;
        top: 20px;
        left: 22px;
    }

}

#zonaadm {
    position: relative;
    color: #04574d;
    font-family: Poppins;
    font-size: 25px;   
}

#quantidadeadm {
    position: relative;
    color: #C05367;
    text-decoration: underline dotted;
    font-family: Poppins-Medium;
    font-size: 20px;
} 

#plantaadm {
    position: relative;
    color: #078071;
    font-family: Poppins-semibold;
    font-size: 17px;
    top: 20px;
}