:root {
    --principal: #078071;
    --verdao: #04574d;
    --cinzinha: #ebf0f1;
    --destaque: #ED8E96;
    --rosinha: #f0b6bc;
    --rosão: #C05367;
    --branquinho: #ffffff;
    --verdinho: #7EC4BB;
    --cinzaclaro: #272626;
    --cinza: #1B1B1B;

    width: 100%;
    height: 100%;

    font-family: Poppins-regular, Roboto;
}

@font-face {
    font-family: 'Cooper';
    src: url('../fontes/cooperhewitt-heavy.otf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../fontes/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'Poppins-regular';
    src: url('../fontes/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-semibold';
    src: url('../fontes/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'Poppins-medium';
    src: url('../fontes/Poppins-Medium.ttf');
}

#img {
    border-radius: 7px;
    border: #C05367 1px solid;
    width: 90%;
}

.imgBloq {
    position:relative; 
    display:inline-block; 
    width:90%; 
    border-radius:7px; 
    border:#C05367 1px solid;
}

.fundo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../public/testeee.png');
    background-size: 300px;
    background-repeat: repeat;
    background-position: center center;  
    opacity: 0.7; /* Ajuste a opacidade conforme necessário */
    z-index: -1; /* Fica abaixo do conteúdo */
}

.nomeZona {
    font-size: 40px;
    text-decoration: underline dotted;
    font-family: 'Poppins-semibold';
}

.msgClique{
    font-size: 36px;
    text-decoration: underline dotted;
    font-family: 'Poppins-regular';
}

.plantasEncontradas {
    font-size: 40px;
    font-family: 'Poppins-semibold';
}

.card-body,
.card {
    display: flex;
    position: relative;
    border-radius: 15px;
    z-index: 1;   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.direita, .esquerda {
    width: 48%;
}

.questoes-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;  
}

.questao {
    display: flex;
    align-items: center;
    border: 1px solid #C05367; 
    border-radius: 5px;
    padding: 10px;
    width: 40%; 
    justify-content: space-between;
    margin-bottom: 10px; /* Espaçamento entre as linhas de questões */
    padding: 10px; /* Espaçamento interno para cada questão */
    text-align: center; /* Centraliza o texto dentro da questão */
}

.numero {
    font-weight: bold; /* Número em negrito */
}

.resultado {
    font-size: 20px; /* Tamanho do símbolo */
}

/* Classes de fundo */
.certa {
    background-color: #7EC4BB; /* Fundo verde para respostas certas */
    color: white; /* Cor do texto para melhor contraste */
}

.errada {
    background-color: #C05367; /* Fundo vermelho para respostas erradas */
    color: white; /* Cor do texto para melhor contraste */
}

.nao-respondida {
    background-color: #ffffff; /* Fundo cinza para respostas não respondidas */
    color: black; /* Cor do texto para melhor contraste */
}

.plantaNome {
    font-size: 21px;
    font-family: 'Poppins-regular';
}

.plantaPontos {
    font-size: 18px;
    font-family: 'Poppins';
}

.semQuestoes{
    font-family: 'Poppins-Medium';
    font-size: 25px;
    margin-top: 15px;
}

@media (max-width: 992px) {
    .semQuestoes{
        font-size: 18px;
    }
}

.modo-escuro h5 {
    background-color: transparent !important;
    color: #ED8E96;
}

.modo-escuro .abinha {
    background-color: #C05367;
}

.abinha {
    position: absolute; /* Posiciona a abinha em relação ao card */
    top: 7px; /* Ajuste conforme necessário */
    right: -24px; /* Ajusta a posição horizontal da abinha */
    background-color: #7EC4BB; /* Cor do fundo */
    color: white; /* Cor do texto */
    border-radius: 5px; /* Para arredondar os cantos */
    padding: 2px; /* Tamanho do botão */
    cursor: pointer; /* Mão ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para destaque */
    display: flex;
    flex-direction: column; /* Organiza as letras verticalmente */
    align-items: center; /* Centraliza as letras */
    z-index: -1;
    font-family: 'Poppins';
}

.abinha div {
    writing-mode: vertical-rl; /* Muda a orientação do texto para vertical */
    transform: rotate(360deg); /* Inverte a direção do texto */
    text-align: center; /* Centraliza o texto */
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modo-escuro .list-group-item {
    color: #f0b6bc;
    background-color: #272626;
}

.sum{
    color: #078071;
    font-family: 'Poppins';
}

.modo-escuro .sum{
    color: #C05367;
    font-family: 'Poppins';
}

.text-center {
    text-align: center;
}

.modal {
    font-family: 'Poppins-regular';
}

button#fechar {
    color: #C05367;
    background-color: #fff;
    border-color: #C05367;
}

button#fechar:hover {
    color: #fff;
    background-color: #C05367;
    border-radius: 5px;
}

.modal-header, .modal-footer {
    border-bottom: none;
    border-top: none;
}