:root {
    --principal: #338a5f;
    --verdao: #04574d;
    --branco: #ebf0f1;
    --destaque: #f58c95;
    --rosinha: #f0b6bc;
    --rosão: #C05367;
    --cinza: #586660;
    --cinzinha: #d3dadb;
    --branquinho #ffffff;

    width: 100%;
    height: 100%;

    font-family: Poppins-regular, Roboto;
}

    @font-face {
        font-family: 'Cooper';
        src: url('../fontes/cooperhewitt-heavy.otf');
    }
    
    @font-face {
        font-family: 'Poppins';
        src: url('../fontes/Poppins-ExtraBold.ttf');
    }
    
    @font-face {
        font-family: 'Poppins-regular';
        src: url('../fontes/Poppins-Regular.ttf');
    }
    
    @font-face {
        font-family: 'Poppins-semibold';
        src: url('../fontes/Poppins-SemiBold.ttf');
    }
    
    @font-face {
        font-family: 'Poppins-medium';
        src: url('../fontes/Poppins-Medium.ttf');
    }

body {
    background-color: #ebf0f1;;
}

#primeirotextoreg {
    color: #04574d;
    font-family: Poppins;
    margin-left: 11px;
    margin-top: 35px;
    font-size: 45px;
}

#txtNome {
    color: #338a5f;
    font-family: Poppins-semibold;
    margin-left: 11px;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 20px;
}

#txtNomeForm {
    background-color: #f0b6bc;
    color: #ffffff;
    font-family: Poppins-semibold;
    margin-left: 11px;
    margin-bottom: 50px;
    border-radius: 5px;
    width: 77%;
    height: auto;
    border-radius: 5px;
}

#txtCodigo {
    color: #338a5f;
    font-family: Poppins-semibold;
    margin-left: 11px;
    margin-top: 7px;
    margin-bottom: 10px;
    font-size: 20px;
}

#txtCodigoForm {
    background-color: #f0b6bc;
    color: #ffffff;
    font-family: Poppins-semibold;
    margin-left: 11px;
    margin-bottom: 50px;
    border-radius: 5px;
    width: 77%;
    height: auto;
    border-radius: 5px;
}

#txtNomeAtributo {
    color: #338a5f;
    font-family: Poppins-semibold;
    margin-left: -12px;
    margin-top: 5px;
    font-size: 20px;
}

#texto-checkbox {
    color: #C05367;
    font-family: Poppins-regular;
    font-size: 15px;
}


#botoesregistrar {
    color: #ebf0f1;
    background-color: #338a5f;
    font-family: Poppins-regular;
    border-color: #04574d;
    width: 150px;
    height: auto;
    margin-left: 3px;
}

#botoeslimpar {
    color: #f0b6bc;;
    background-color: #ffffff;
    font-family: Poppins-regular;
    border-color: #f0b6bc;
    width: 130px;
    height: auto;
}

#botoesregistrar:hover {
    color: #ebf0f1;
    background-color: #04574d;
    font-family: Poppins-regular;
}

#botoeslimpar:hover {
    color: #ffffff;
    background-color: #f0b6bc;
    font-family: Poppins-regular;
}

input[type=checkbox] {
    margin-left: -27px;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-color: #f0b6bc;
}

input[type=checkbox]:checked:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-color: #C05367;
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid var(--branco);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 4.5px;
    left: 7.5px;
}

#carregueimagemtexto {
    color: #338a5f;
    font-family: Poppins-semibold;
    margin-left: 15px;
    margin-bottom: 50px;
    font-size: 20px;
}

#carregueimagemtexto2 {
    color: #04574d;
    font-family: Poppins-regular;
    margin-left: 5px;
    margin-bottom: 50px;
}

#textodescritivo {     
    color: #338a5f;
    font-family: Poppins-semibold;
    margin-left: 8px;
    margin-top: 5px;
    font-size: 20px;
}

.ck-editor__editable_inline {
    min-height: 400px;
}

.fa-camera {
    font-size: 33px;
    color: #078071;
  }
  