:root {
    --principal: #338a5f;
    --verdao: #04574d;
    --branco: #ebf0f1;
    --branquinho: #ebf0f14b;
    --destaque: #f58c95;
    --rosinha: #f0b6bc;
    --rosão: #C05367;
    --cinza: #586660;
    --cinzinha: #d3dadb;

    width: 100%;
    height: 100%;

    font-family: Poppins-regular, Roboto;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fontes/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'Poppins-regular';
    src: url('../fontes/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-semibold';
    src: url('../fontes/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'Poppins-medium';
    src: url('../fontes/Poppins-Medium.ttf');
}

body {
    background-color: #ebf0f1;
}

.titulo {
    width: 65%;
    height: auto;
    position: relative;
    z-index: 1;
}

.img-top {
    width: auto;
    height: 40%;
    position: fixed;
    right: 0.5%;
    top: 0.5%;
    opacity: 70%;
}

.img-bottom {
    z-index: -1;
    width: auto;
    height: 40%;
    position: fixed;
    left: 0.5%;
    bottom: -10.5%;
    opacity: 70%;
}

#login {
    position: absolute;
    margin-top: 2%;
    top: 27.5%;
}

.form-control {
    background-color: #f0b6bc !important;
    color: #ffffff !important;
    font-family: Poppins-semibold;
    border-radius: 5px;
    width: 80%;
    height: auto;
    border-style: dashed;
    border-width: 4px;
    border-color: #C05367;
    margin-left: 10%;
    margin-top: -5px;
    position: relative;
    z-index: 2;
}

#labels {
    color: #04574d;
    font-family: Poppins;
    margin-bottom: 10px;
    font-size: 20px;
    margin-left: 10%;
    margin-top: 5px;
    position: relative;
    z-index: 3;
}

#botaologin {
    background-color: #338a5f;
    position: relative;
    z-index: 4;
    font-family: Poppins-semibold;
    margin-left: 10%;
    margin-top: -2%;
    font-size: 25px;
    border-width: 5px;
    border-color: #04574d;
}

.novoporaqui {
    color: #04574d;
    font-family: Poppins-semibold;
    right: 15%;
    position: absolute;
}

#cadastro {
    color: #C05367;
    font-size: 17px;
    text-decoration: underline;
}

#esqueciSenha {
    z-index: 0;
    margin-top: -15px;
    color: #C05367;
    margin-left: 10%;
    font-family: Poppins-semibold;
    text-decoration: underline;
}

#email-login {

    margin-bottom: 25px;
}