:root {
    --principal: #338a5f;
    --verdao: #04574d;
    --branco: #ebf0f1;
    --destaque: #f58c95;
    --rosinha: #f0b6bc;
    --rosão: #C05367;
    --cinza: #586660;
    --cinzinha: #d3dadb;
    --branquinho #ffffff;

    width: 100%;
    height: 100%;

    font-family: Poppins-regular, Roboto;
}

@font-face {
    font-family: 'Cooper';
    src: url('../fontes/cooperhewitt-heavy.otf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../fontes/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'Poppins-regular';
    src: url('../fontes/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-semibold';
    src: url('../fontes/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'Poppins-medium';
    src: url('../fontes/Poppins-Medium.ttf');
}

body {
    background-color: #ebf0f1;
}

.titulorank {
    color: #04574d;
    font-size: 60px;
    font-family: Poppins;
    margin-top: 5px;
    margin-bottom: 15px;
}

#lugarzinho {
    background-color: #ffffff;
    font-size: 27px;
    font-family: Poppins-semibold;
    width: 200px;
    color: #f58c95;
    border-radius: 50px;
}

#lugarzinho1 {
    margin-top: -15px;
}

#pontinhos {
    background-color: #ffffff;
    color: #C05367;
    margin-bottom: -15px;
    font-size: 17px;
    font-family: Poppins-semibold;
}

#pontosfinal {
    font-family: Poppins;
    color: #ffffff;
    font-size: 55px;
    -webkit-text-fill-color: #f0b6bc;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #ffffff;
}

#nomezinho {
    margin-top: 7px;
    margin-bottom: 7px;
    font-family: Poppins;
    color: #ffffff;
    font-size: 40px;
    -webkit-text-fill-color: #f0b6bc;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #ffffff;
}


.posicao {
    border-radius: 10px;
}