:root {
    --principal: #078071;
    --verdao: #04574d;
    --cinzinha: #ebf0f1;
    --destaque: #ED8E96#ED8E96;
    --rosinha: #f0b6bc;
    --rosão: #C05367;
    --branquinho: #ffffff;
    --verdinho: #7EC4BB;
    --cinzaclaro: #272626;
    --cinza: #1B1B1B;

    width: 100%;
    height: 100%;

    font-family: Poppins-regular, Roboto;
}

@font-face {
    font-family: 'Cooper';
    src: url('../fontes/cooperhewitt-heavy.otf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../fontes/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'Poppins-regular';
    src: url('../fontes/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-semibold';
    src: url('../fontes/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'Poppins-medium';
    src: url('../fontes/Poppins-Medium.ttf');
}

body {
    background-color: #ebf0f1;
    ;
}


#primeirotextoreg {
    color: #078071;
    margin-left: 11px;
    margin-top: 35px;
    font-size: 45px;
}


#nomePlanta {
    background-color: #04574d;
    color: #ffffff !important;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 20px;
    font-size: 55px;
    width: 37rem;
    font-family: Poppins;
    margin-top: -10px;
}

#nomeUm {
    font-size: 35px;
    margin-bottom: 20px;
    font-family: Poppins-semibold;
}

#nomeDois {
    font-size: 35px;
    font-family: Poppins-semibold;
}

#codigoPlanta {
    color: #078071;
    font-size: 35px;
    margin-bottom: 15px;
    font-family: Poppins-semibold;
}

#imagemPlanta {

    width: 50%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: dashed;
    border-radius: 5px;
    border-width: 10px;
    border-color: #f0b6bc;
}

@media (max-width: 767px) {
    #imagemPlanta {
        width: 100%;
        height: 300px;
        margin-top: auto;
    }
}



#historiaplanta {
    color: #04574d;
    margin-top: 7px;
    font-family: Poppins-regular;
    text-align: justify;
}

#pontos {
    background-color: #7EC4BB;
    border-radius: 50px;
    font-size: 40px;
    color: #ffffff;
    width: auto;
    margin-top: 15px;
}

#atributos {
    color: #C05367;
    font-family: Poppins;
    font-size: 35px;
    text-decoration: underline;
}

#nomespecie {
    font-size: 25px;
    color: #ED8E96;
    font-family: Poppins-semibold;
}

#historiaespecie {
    color: #04574d;
    margin-top: 7px;
    font-family: Poppins-regular;
    text-align: justify;
}

#mapa {
    width: 100px;
    height: auto;
}

#zonaencontrada {
    color: #C05367;
    margin-left: 10px;
    font-size: 3rem;
    font-family: Poppins;
    position: relative;
    top: 12px;
    text-decoration: underline;
}

#voltarjogo {
    color: #078071;
    font-family: Poppins;
    font-size: 2rem;
    text-decoration: underline dotted;
}


#id {
    border-width: 5px;
    border-color: #ffffff;
}

#msg {

    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 992px) {
    /* figure img {
        max-width: 70%;
    } */
}

h1 p {
    font-family: Poppins-regular !important;
}

#labelnomesocial {
    position: relative;
    margin-bottom: -30px;
    font-family: Poppins-semibold;
    font-size: 25px;
    color: #ED8E96;
}

button#responderQuiz {
    color: var(--branco);
    background-color: #338A5F;
    border-radius: 5px;
    width: max-content !important;
    height: max-content !important;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Poppins-semibold;
    font-size: 22px;
    transition: 0.3s ease;
    display: inline-block;
    border-width: 3px;
    border-color: #ffffff;
    border: none;
}

button#responderQuiz:hover {
    color: #ebf0f1 !important;
    background-color: #04574d;
    transform: scale(1.05);
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+.radio-button {
    background-color: #f0b6bc;
    color: #FFF;
}

.radio-button:hover {
    background-color: #f0b6bc;
    color: #fff;
}

.radio-button {
    line-break: anywhere;
    width: 45%;
    flex: 1;
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid #f0b6bc;
    border-radius: 5px;
    background-color: #fff;
    color: #C05367;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.modal-content {
    background-color: #f0f0f0;
}

#perguntaBloqueada {
    margin-top: 5px;
    color: #C05367;
    font-family: Poppins-semibold;
}

#tituloQuestao {
    font-family: Poppins-medium;
    color: #04574d;
    font-size: 20px;
}

#submitQuiz {
    font-family: Poppins;
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid #C05367;
    border-radius: 5px;
    background-color: #fff;
    color: #C05367;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

#submitQuiz:hover {
    font-family: Poppins;
    background-color: #C05367;
    color: #fff;
}

.aviso-questao {
    font-family: Poppins-semibold;
}

.correcao#incorreta {
    font-family: Poppins;
    color: red;
}

.linhaSepara {
    background: #04574d;
}

.modal-header,
.modal-footer {
    border-bottom: 0px;
    border-top: 0px;
}

#imgQuestao {
    width: 90%;
    border: 2px solid #C05367;
    border-radius: 3px;
    margin-bottom: 10px;
}

table,
table tbody,
table td,
table th,
table tr,
.modo-escuro table,
.modo-escuro tbody,
.modo-escuro td,
.modo-escuro th,
.modo-escuro tr {
    border: 1px solid #C05367 !important;
}

td {
    width: 200px !important;
}

table {
    justify-content: center;
    align-items: center;
    width: 100%;
}

table img {
    width: 100%;
    height: 100%;
}

td figure {
    width: 100% !important;
}

figure {
    width: 100% !important;
}


@media (min-width: 900px) {
    figure img {
        display: flex;
        justify-content: center;
        width: 40% !important;
    }

    .image>figcaption {
        display: block;
        width: 40%;
    }
}

@media (max-width: 899px) {
    figure img {
        display: flex;
        justify-content: center;
        width: 100% !important;
    }


    .image>figcaption {
        display: block;
        width: 100%;
    }
}

figure.image {
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image>figcaption {
    text-align: center;
    display: block;
    border-radius: 2px;
    border-bottom: 1px solid #f0b6bc;
    border-left: 1px solid #f0b6bc;
    border-right: 1px solid #f0b6bc;
    background-color: #ebf0f1;
    caption-side: bottom;
    color: #078071;
    font-size: .30em;
    outline-offset: -1px;
    padding: .6em;
    word-break: break-word
}

.modo-escuro .image>figcaption {
    text-align: center;
    display: block;
    border-radius: 2px;
    border-bottom: 1px solid #C05367;
    border-left: 1px solid #C05367;
    border-right: 1px solid #C05367;
    background-color: #1B1B1B;
    caption-side: bottom;
    color: #f0b6bc;
    font-size: .30em;
    outline-offset: -1px;
    padding: .6em;
    word-break: break-word
}

figure img {
    width: 100%;
    height: auto;
}

p a {
    word-break: break-all;
}

.ckeditor-content ul,
.ckeditor-content li {
    font-size: 20px;
}

#autoria {
    color: #C05367;
    margin-top: -30px;
    display: flex;
    justify-content: center;
}

.modo-escuro #autoria {
    color: #078071;
    margin-top: -30px;
    display: flex;
    justify-content: center;
}