:root {
    --principal: #078071;
    --verdao: #04574d;
    --cinzinha: #ebf0f1;
    --destaque: #ED8E96;
    --rosinha: #f0b6bc;
    --rosão: #C05367;
    --branquinho: #ffffff;
    --verdinho: #7EC4BB;
    --cinzaclaro: #272626;
    --cinza: #1B1B1B;
     
    width: 100%;
    height: 100%;

    font-family: Poppins-regular, Roboto;
}

    @font-face {
        font-family: 'Cooper';
        src: url('../fontes/cooperhewitt-heavy.otf');
    }
    
    @font-face {
        font-family: 'Poppins';
        src: url('../fontes/Poppins-ExtraBold.ttf');
    }
    
    @font-face {
        font-family: 'Poppins-regular';
        src: url('../fontes/Poppins-Regular.ttf');
    }
    
    @font-face {
        font-family: 'Poppins-semibold';
        src: url('../fontes/Poppins-SemiBold.ttf');
    }
    
    @font-face {
        font-family: 'Poppins-medium';
        src: url('../fontes/Poppins-Medium.ttf');
    }

body {
    background-color: #ebf0f1;;
}

.btn:hover {
    color:#f58c95;
    transform: scale(1.05);
    text-decoration: none;
}

.primeirotextoreg {
    color: #04574d;
    font-family: Poppins;
    margin-bottom: 30px;
    font-family: Poppins;
    margin-top: 15px;
    font-size: 60px; }

#nome {
    color: #078071;
    font-family: Poppins-semibold;
    font-size: 20px;
}

#nomepartida {
    background-color: #C05367;
    color: #ffffff;
    font-family: Poppins-semibold;
    border-radius: 20px;
    font-size: 25px;
    padding: 3px;
}

#jogadores {
    color: #7EC4BB;
    font-family: Poppins-regular;
}

#status {
    color: #f58c95;
    margin-top: -15px;
}


.btn.entrar-btn {
    background-color: #078071;
    color: #ffffff;
    font-family: Poppins-semibold;
    font-size: 20px;
    transition: 0.3s ease;
}

.btn.entrar-btn:hover {
    color: var(--branco);
    background-color: #04574d;
    border-radius: 5px; 
}

.btn.deletar-btn {
    border-color: #f0b6bc;
    margin-top: 4px;
    background-color: #ffffff;
    color: #f0b6bc;
    font-family: Poppins-semibold;
    font-size: 20px;
    transition: 0.3s ease;
}

.btn.deletar-btn:hover {
    color: var(--branco);
    background-color: #f0b6bc;
    border-radius: 5px; 
}

.alert-warning {
    color: #ffffff;
    background-color: #7EC4BB;
    border-color: #7EC4BB;
    font-family: Poppins-regular;
    font-size: 20px;
}

#info {
    background-color: #338A5F;
    color: #ffffff;
    font-family: Poppins-semibold;
    font-size: 19px;
    border-radius: 5px;
    padding: 5px;

}

#info:hover {
    color: var(--branco);
    background-color: #04574d;
    border-radius: 5px;
    
}

#criador {
    color: #04574d;
    text-decoration: underline dotted;
}

#status {
    color: #7EC4BB;
}

.row.linha {
    background-color: #C05367;
    width: 150%;
    height: 3px;
}

.tituloPartidas {
    text-decoration: underline dotted;
}
