/app/connection/Connection.php
/app/public/especies
/app/public/plantas
/app/public/qrcode
/app/public/questoes
/app/public/descricao
/app/api/vendor
/app/api/composer.json
/app/api/composer.phar
/app/api/composer.lock
