<!DOCTYPE html>
<html>
<head>
    <title>Scanner QR Code</title>
</head>
<body>
    <button onclick="startCamera()">Abrir Câmera</button>
    <video id="video"></video>
    
    <script src="script.js"></script>
</body>
<script>
  async function startCamera() {
    try {
        const devices = await navigator.mediaDevices.enumerateDevices();
        let videoDeviceId;

        for (const device of devices) {
            if (device.kind === 'videoinput') {
                // Verifica se o dispositivo é a câmera traseira
                if (device.label.toLowerCase().includes('traseira') || device.label.toLowerCase().includes('back')) {
                    videoDeviceId = device.deviceId;
                    break;
                }
            }
        }

        const stream = await navigator.mediaDevices.getUserMedia({ video: { deviceId: { exact: videoDeviceId } } });
        const videoElement = document.getElementById('video');
        videoElement.srcObject = stream;
        videoElement.play();
    } catch (error) {
        console.error('Erro ao acessar a câmera:', error);
    }
}

</script>
</html>
