<!DOCTYPE html>
<html>
<head>
    <title>Scanner QR Code</title>
</head>
<body>
    <button onclick="startCamera()">Listar Dispositivos</button>
    <ul id="deviceList"></ul>
    <video id="video" ></video>
    
    <p id="deviceInfo"></p>
    <script src="script.js"></script>
</body>
<script>
  async function startCamera() {
    try {
        const devices = await navigator.mediaDevices.enumerateDevices();
        let videoDeviceId = null;
        let videoDeviceKind = null;
        let videoDeviceLabel = null;

        for (const device of devices) {
            if (device.kind === 'videoinput' && (device.label.toLowerCase().includes('traseira') || device.label.toLowerCase().includes('back'))) {
                videoDeviceId = device.deviceId;
                videoDeviceKind = device.kind;
                videoDeviceLabel = device.label;
                break;
            }
        }

        if (videoDeviceId) {
            // Exibir informações sobre a câmera traseira na tela
            const deviceInfoElement = document.getElementById('deviceInfo');
            deviceInfoElement.textContent = `Informações da câmera traseira: 
                                            DeviceId: ${videoDeviceId}, 
                                            Kind: ${videoDeviceKind}, 
                                            Label: ${videoDeviceLabel}`;

            const stream = await navigator.mediaDevices.getUserMedia({ video: { deviceId: { exact: videoDeviceId } } });
            const videoElement = document.getElementById('video');
            videoElement.srcObject = stream;
            videoElement.play();
        } else {
            console.error('Nenhuma câmera traseira encontrada.');
        }
    } catch (error) {
        console.error('Erro ao acessar a câmera:', error);
    }
}


</script>
</html>
