:root {
    --principal: #338a5f;
    --verdao: #04574d;
    --branco: #ebf0f1;
    --branquinho: #ebf0f14b;
    --destaque: #f58c95;
    --rosinha: #f0b6bc;
    --cinza: #586660;
    --cinzinha: #d3dadb;

    width: 100%;
    height: 100%;

    font-family: Poppins-regular, Roboto;
}

@font-face {
    font-family: 'Cooper';
    src: url('../fontes/cooperhewitt-heavy.otf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../fontes/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'Poppins-regular';
    src: url('../fontes/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-semibold';
    src: url('../fontes/Poppins-SemiBold.ttf');
}

#itemmenu {
    display: flex;
    font-size: 1.3em;
    margin-left: 50px;
    color: var(--principal);
    text-decoration: none;
    padding-top: 0.3em;
    cursor: pointer;
    height: min-content;
    font-family: Poppins-regular;
    font-size: 19px;

}



button,
button:focus,
button::after,
button::before {
    outline: none !important;
}

body {
    background-color: var(--branco);
}

#mapa-da-home {
    width: 90%;
    margin-top: 100px;
    cursor: pointer;
    min-width: auto;

}

#about-area h1 {
    color: var(--principal);
    font-family: Poppins-semibold;
    font-size: 60px;
}

#about-area button {
    background-color: var(--principal);
    border: none;
    height: 70px;
    width: 200px;
    left: 150px;
    top: 573px;
    border-radius: 5px;
    font-family: Poppins-semibold;
    font-size: 28px;
    margin-top: 20px;

}

.jogar {
    background-color: var(--principal);
    border: none;
    height: 70px;
    width: 200px;
    left: 150px;
    top: 573px;
    border-radius: 9px;
    font-family: Poppins-semibold;
    font-size: 28px;
    margin-top: 20px;
    padding-top: 15px;
    transition: 0.3s all ease;
}

.jogar:hover {
    transform: scale(1.05);
    text-decoration: none;
    background-color: var(--principal);
}

#textoindex {
    margin-right: 62px;
}

.dropdown-menu {
    font-family: Poppins-semibold;
    background-color: var(--principal);
}

.dropdown-menu a {
    color: var(--branco);
}

.quadrado {
    width: 300px;
    height: max-content;
    margin-right: 30px;
    margin-left: 30px;
    padding: 30px;
    background: var(--rosinha);
    margin-top: 100px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

p.textoBotao {
    align-items: center;
    color: #fff;
    text-align: center;
    font-family: Poppins-semibold;
    font-size: 20px;
    text-decoration: underline dotted;
}

p.textoNovidade {
    margin: 0;
    align-items: center;
    color: var(--verdao);
    margin-top: 50px;
    text-align: center;
    font-family: Poppins-semibold;
    font-size: 20px;
    text-decoration: underline dotted;
}

.quadrado img {
    width: 100px;
    text-align: center;
    margin-top: 55px;
    margin-left: 100px;
}

#imagenscaixas {
    margin: auto;
    display: block;
}

#finalhome {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#imggrengo {
    width: 400px;
}

#imagem-celular {
    margin-top: 40px;
}

#botaoentrar {
    display: flex;
    font-size: 1.3em;
    margin-left: 50px;
    color: var(--principal);
    text-decoration: none;
    padding-top: 0.3em;
    cursor: pointer;
    height: min-content;
    font-family: Poppins-regular;
    font-size: 19px;
    font-weight: bold;
}


body {
    overflow-x: hidden;
}

#rodape {
    background-color: var(--principal);
    width: 100%;
    height: 70px;

}

#navdropdown {
    display: flex;
    margin-left: 10px;
    color: var(--principal);
    text-decoration: none;
    cursor: pointer;
    height: min-content;
    font-family: Poppins-regular;
    font-size: 18px;
    font-weight: bold;
}

img#clorofila {
    position: relative;
    display: flex;
    margin: auto;
    align-items: center;
    width: 63%;
    z-index: 3;
    animation: forwards;
}

img#imagem-fundo {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: -41.7rem;
}

.clorofila {
    position: relative;
    background-color: #ebf0f1 !important;
    display: flex;
    margin: auto;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    background-image: linear-gradient(to bottom, #ebf0f1 77%, #04574d 25%);
}

.modo-escuro .clorofila {
    position: relative;
    background-color: #ebf0f1 !important;
    display: flex;
    margin: auto;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    background-image: linear-gradient(to bottom, #1b1b1b 77%, #04574d 25%);

}

.row.clorofila-linha::before {
    content: "";
    background-color: #7EC4BB;
    height: 5px;
    max-width: 100%;
    width: 100%;
    /* A linha ocupa toda a largura */
    position: absolute;
    top: 80%;
    left: 0;
    z-index: 1;
    /* A linha fica atrás da imagem */
}

.conteudo {
    z-index: -3;
    border: 3px solid #04574d;
    background-color: #04574d;
}

.logo-fundo {
    z-index: 2;
    position: absolute;
    align-items: center;
    background-repeat: no-repeat;
    top: 30px;
}

.col-md-6 {
    border-radius: 20px;
    background-color: transparent;
    display: flex;
    width: 600px;
    height: 300px;
    justify-content: center;
    align-items: center;
    color: #fff;
}


.col-md-6.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    background-blend-mode: overlay;
    z-index: 1;
    overflow-x: hidden;
}

.col-md-12 {
    display: flex;
    background-image: url('../../public/nuvem.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.conteudo.botoes, .row.botoes {
    background-image: url('../../public/testeee.png');
    background-size: 450px;
    background-repeat: repeat;
    background-position: center center;
}

@media (max-width: 924px) {
    .col-md-12 {
        background-size: cover;
    }
}

@media (max-width: 1240px) {
    .col-md-12 {
        height: 400px;
    }
}

.modo-escuro #msgHide {
    color: #04574d !important;
}

.redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p#post {
    margin-bottom: 5px;
    align-items: center;
    color: var(--verdao);
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    font-family: Poppins-semibold;
}

#arvore {
    position: relative;
    height: 65rem;
    top: -50px;
}

#surpresa {
    position: relative;
    top: -41rem;
}

#minis {
    position: relative;
    height: 1px;
}

div.redes {
    position: relative;
    margin-top: -140px;  
}

#post {
    position: relative;
    top: -40px; 
    text-decoration: underline dotted;
}

@media (min-width: 768px) and (max-width: 992px) {

    #arvore {
        position: relative;
        height: 60rem;
        top: -80px;
    }

}

@media (min-width: 576px) and (max-width:  767px) {

    #arvore {
        position: relative;
        height: 46rem;
        top: -80px;
    }

    #surpresa {
        position: relative;
        top: -35.5rem;
        left: 5px;
    }

}

@media (max-width: 576px) and (min-width: 501px) {

    #arvore {
        position: relative;
        height: 43rem;
        top: -80px;
    }

    #surpresa {
        position: relative;
        top: -34.5rem;
    }

}


@media (max-width: 418px){

    #arvore {
        position: relative;
        height: 30.5rem;
        top: -60px;
    }

    #surpresa {
        position: relative;
        top: -29rem;
        right: 3%;
    }

}
